/* @media (min-width: 1400px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1250px;
    }
}  */
@media (max-width:1440.98px) {
    .navbar-brand {
        padding: 14px 16px;
    }

    .recent-post,
    .blog-categories {
        padding: 24px;
    }

    .recent-post-img {
        height: 65px;
        width: 65px;
    }

    .Our-experience .left-side {
        height: auto !important;
    }

    .services-styles {
        padding: 16px;
    }

    .product-card p {
        font-size: 17px !important;
    }

    .play-btn {
        position: relative;
        left: -30px;
    }

    .Our-services .col-lg-2 {
        padding-left: 0px;
    }

    .play-btn p {
        width: 250px;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    /* .header-overlay{
        height: 480px;
    } */
    .carousel-caption h2 strong {
        font-size: 55px;
    }

    .carousel-item .carousel-caption {
        /* transform: translateY(10%) !important; */
    }

    .bg-technology {
        font-size: 120px;
    }

    .contact {
        width: 135px;
        height: 114px;
    }

    .carousel-caption {
        top: -8%;
        padding-top: 50px;
    }

    .navbar-collapse ul li a {
        padding: 30px 12px !important;
    }

    .navbar {
        height: 114px;
    }

    .quotes {
        font-size: 14px !important;
    }

    .call {
        padding: 39px 0px !important;
    }

    .call-one {
        padding: 48px 0px;
    }

    .contact-us-bg {
        height: 600px;
        margin-top: 100px;
    }
}

@media (max-width:1199.98px) {
    .bg-technology {
        font-size: 120px;
    }

    .navbar {
        opacity: 0.95;
        position: fixed;
        top: 0px;
        width: 100%;
        margin: 0px !important;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .carousel-caption {
        top: -2%;
    }

    .carousel-caption h2 strong {
        font-size: 50px;
    }

    .bg-technology {
        font-size: 80px;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
        max-width: 100%;
        margin: 0px !important;
        padding-right: 0px !important;

    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .menu-items li {
        margin-left: 0px !important;
        margin-bottom: 16px !important;
    }

    .navbar ul li a {
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 24px;
        width: 30px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #dbdbdb;
        height: 100vh;
        width: 103vw;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }


    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
    }

    .menu-items {
        order: 2;
        display: flex;
    }

    .logo {
        order: 1;
        font-size: 2.3rem;
    }

    .menu-items li {
        list-style: none;
        margin-left: 1.5rem;
        font-size: 1.3rem;
    }

    .navbar a {
        color: #444;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
    }

    .navbar a:hover {
        color: #117964;
    }

    .about-us {
        height: 385px !important;
        top: 110px !important;
    }

    .products-bg {
        background-image: url('../images/about-us-bg-01.jpg');
        background-size: 150% 100%;
        object-fit: cover;
        height: 400px;
    }

    .custom-game-card-bg .row,
    .custom-playing-card-bg .row {
        position: absolute;
        top: 0%;
        left: 38% !important;
    }

    .about-us .row {
        position: absolute;
        top: 0% !important;
        left: 40% !important;
    }

    .products-bg .row {
        position: absolute;
        top: 40% !important;
        left: 38% !important;
    }

    .breadcrumb-area {
        padding: 0px 0px;
    }

    .choose-us-items {
        width: 250px !important;
    }

    .choose-us-item {
        margin-left: 24px;
        width: 250px !important;
    }

    .choose-us-item h2,
    .choose-us-items h2 {
        font-size: 24px;
    }

    .bg-choose-overley {
        top: 160px;
    }

    .we-are {
        background-size: 80% auto;
    }

    .btn-catalog {
        color: #fff !important;
        border-radius: 10px;
        background-color: #000;
        display: flex;
        justify-content: center;
        width: 200px;
        padding: 10px 20px;
    }

    .btn-download-catalog {
        color: #fff !important;
        border-radius: 10px;
        background-color: #e41039;
        display: flex;
        justify-content: center;
        width: 200px;
        padding: 10px 20px;
    }

    .custom-game-card-bg,
    .custom-playing-card-bg,
    .products-bg,
    .contact-us-bg {
        height: 400px !important;
        /* margin-top: 114px; */
    }

    .header-overlay {
        height: 400px;
    }
}

@media (max-width:992.98px) {
    .newsletter-blog {
        padding-left: 16px;
    }
    .about-us{
        top: 70px !important;
    }
    .mobile-nav {
        height: auto !important;
        /* width: auto !important; */
    }.about-us:after {
        height: 400px;
        top: -80px;
    }   
    .custom-cards {
        padding: 24px;
    }

    .about-us {
        top: auto !important;
    }

    .logo img {
        width: 80px;
    }

    .custom-game-card-bg .row {}


    .products-bg .row {
        transform: translateX(19%);
        margin-top: 10px;
        left: 35%;
    }

    .custom-playing-card-bg .row {
        left: 35% !important;
        top: 0%;
    }

    .custom-card-counters {
        transform: translateY(-10px);
        padding-bottom: 24px;
    }

    .customer-satisfaction {
        padding-bottom: 100px;
    }

    /* 
    .bg-overlay {
        margin-top: 115px;
    } */

    .left-top {
        width: 100%;
        opacity: 0.8;
    }

    .contact-info li,
    .footer-bottom ul li a,
    .copyright {
        font-size: 14px;
    }

    .right-bar {
        padding-left: 16px;
    }

    .recent-post,
    .blog-categories {
        padding: 16px;
    }

    .recent-post img {
        background-size: contain;
        object-fit: cover;
    }

    .useful-links {
        font-size: 14px;
    }

}

@media (max-width:768.98px) {
    .site-heading .title {
        font-size: 24px;
    }

    /* .navbar{
        width: auto;
    } */
    .carousel-item .carousel-caption {
        transform: translateY(35%) !important;
    }

    .bg-technology {
        font-size: 40px;
    }

    .solutions {
        padding-left: 16px;
    }

    .blog-img {
        height: auto !important;
    }

    .vision-section {
        padding: 16px;
    }

    .social-iconns {
        right: 100px;
    }

    .contact {
        height: auto;
    }

    .mletter {
        position: absolute;
        transform: translate(-22px, -116px);
    }

    /* .vision-content-portion{
        display: block;
    } */
    .product-header {
        margin-top: 114px;
        height: 100%;
        background-size: auto;
    }

    .vision-text-area h2 span {
        font-size: 45px;
    }

    .about-us-main {
        padding-left: 0px;
    }

    .choose-us-items:first-child,
    .choose-us-item {
        width: 220px !important;
    }

    .choose-us-item {
        margin-left: 230px;
    }

    p {
        font-size: 17px !important;
        text-align: left;
    }

    .custom-game-card-bg .row {
        position: absolute;
        top: 40%;
        left: 17%;
    }

    .custom-playing-card-bg .row {
        top: 40%;
        left: 7% !important;
    }

    .service-item p {
        height: 250px;
    }

    .product-details-two,
    .product-details-three {
        padding: 16px 0px;
    }

    .cards-title::after {
        top: 40px;
    }

    .mletter span,
    .vletter span {
        font-size: 150px;
        position: absolute;
        top: 200px;
    }

    .vletter span {
        right: 0px;
    }

    .vision-text-area p {
        padding-left: 24px;
    }

    .preparing {
        padding-top: 16px;
    }

    .technology-style .technolgies-items {
        padding: 24px;
    }

    .Our-experience .left-side {
        padding: 35px 22px;
        background: #fff;
        border-radius: 30px 0 0 30px;
        border: 1px solid #e7e7e7;
    }

    .Our-experience h2 {
        font-size: 46px;
    }

    .we-offer-main img {
        margin-top: 16px;
    }

    .bg-technology {
        font-size: 40px;
        bottom: -15px;
    }

    .choose-us {
        padding-top: 16px;
    }

    .choose-us-style-two.we-offer-cards .thumb .overlay {
        top: 16px;
    }

    .content-satisfaction,
    .achivement .item {
        padding: 16px;
    }

    .Our-experience h5 {
        font-size: 17px;
    }

    .custom-cards {
        padding: 16px 0px;
    }

    .download-from-ft a img {
        height: 100% !important;
        width: 180px !important;
        background-size: contain;
        object-fit: cover;
    }

    .heading {
        font-size: 24px;
    }

    .carousel-caption {
        padding-top: 0px;
    }

    .carousel-caption h2 strong {
        font-size: 35px;
    }

    .carousel-caption h2 {
        font-size: 24px;
    }

    .custom-card-counters {
        transform: translateY(-30px);
    }

    .choose-us-custom-cards {
        transform: translateY(-10px);
    }

    .service-item.service-items-game p {
        height: 205px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        padding: 16px;
    }

    .custom-game-card-bg .row,
    .custom-playing-card-bg .row {
        transform: translateX(19%);
        margin-top: 0px;
    }

    .products-bg .row {
        margin-top: 0px !important;
    }



    .testimonial {
        padding-top: 90px;
        margin-top: 45px;
    }

    .other-services {
        padding: 16px 0px;
    }

    .other-service-details {
        padding: 16px;
    }

    .faq-header {
        margin-top: 16px;
    }

    footer {
        padding-top: 16px;
    }

    .footer-main .social-icons li a {
        height: 42px;
        width: 42px;
    }

    .footer-main {
        padding-top: 16px;
    }

    .footer-main img {
        margin-bottom: 0px;
        height: 100px;
    }

    .social-iconns {
        right: 115px;
    }

    .Our-experience {
        bottom: -4px;
        padding-bottom: 50px;
    }

    .newsletter::before {
        position: relative !important;
        left: -20px !important;
        top: 0;
        height: 0 !important;
        width: 0px !important;
        background: transparent !important;
    }

    .newsletter-blog {
        padding-left: 0px;
    }

    .proucts-items-style {
        width: 100%;
        padding: 0px 0px 16px;
    }

    .map-two form {
        padding: 24px;
    }

    .map-two h2 {
        font-size: 24px;
    }

    .customer-satisfaction {
        padding-bottom: 16px;
    }

    .why-we {
        padding: 16px 0px;
    }
}

@media (max-width:576px) {
    .Our-experience h2 {
        font-size: 32px;
    }
}