@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/Medium/FoundersGrotesk-Medium.woff') format('woff2'),
    url('../fonts/Founders_Grotesk/Medium/FoundersGrotesk-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/Founders_Grotesk/Light/FoundersGrotesk-Light.woff') format('woff2'),
    url('../fonts/Founders_Grotesk/Light/FoundersGrotesk-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



body {
  /* font-family: 'Montserrat', sans-serif; */
  overflow-x: hidden;
}

/* font-family: 'GFS Didot', serif;
h2 {
  font-family: 'Playfair Display', serif;
}

@media (max-width:1400px) {
  .container {
    max-width: 1230px;
  }
}

.container-fluid {
  padding: 0px;
}

/* .bg-gray {
  background: #E7EDF8;
} */

a:hover {
  color: #000 !important;
  cursor: pointer;
}

.bg-gray {
  position: relative;
  background: #f8fbfb;

}

p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 300;
  font-family: 'Founders Grotesk' !important;
  line-height: 1.7;
  font-size: 21px !important;
  text-align: justify;
}

.text-green {
  color: #1d746e;
}

header {
  position: relative;
}

.carousel {
  position: absolute;
  width: 100%;
  top: 0px;
}

header video {
  background-size: 100% 90%;
  height: calc(100vh - 114px);
  object-fit: cover;
  margin-top: 114px;

}

.navbar .navbar-nav li a.active {
  color: #e41039 !important;
}

.box {
  background-color: #eb273c !important;
  width: 600px !important;
  height: 600px !important;

}

/* video{
background-size: 100%;
} */
.navbar {
  background: #ffffff !important;
  /* box-shadow: 0 5px 5px -5px #333; */

}

.navbar.sticky~.navbar {
  box-shadow: 0 5px 5px -5px #333 !important;

}

.navbar .navbar-collapse ul li a {
  color: #000 !important;
}

.about-us-header .navbar.sticky {
  box-shadow: 0 8px 25px 0 rgb(0 0 0 / 4%)
}

.breadcrumb-content {
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.info h5 a {
  padding-left: 0px !important;
  font-size: 20px !important;
  color: #fff;
  text-decoration: none;
}

.navbar-collapse ul li a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 18px !important;
  font-weight: 500;
}

.navbar-collapse {
  flex-basis: 100% !important;
  margin-left: 250px;
}



.about-us-header.navbar.sticky .navbar {
  background-color: green !important;
}

.logo-light {
  display: flex;
}


.navbar.sticky .about-us-header .navbar ul li a {
  color: red !important;
}

.navbar.sticky .logo-light {
  display: none;
}

.navbar.sticky .logo-blue {
  display: block;
}

.navbar-brand {
  padding: 13px 0px;
  padding-left: 80px;
  padding-right: 25px;
  border-right: 1px solid rgb(199, 199, 199);
  margin-right: 0px;
}

.navbar-nav {}

.float-right {
  float: right;
  margin-left: 30px;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  padding: 0px;
  z-index: 99999;
  height: 112px;
}


.navbar-nav a {
  color: #fff !important;
  white-space: nowrap;
}

.carousel-inner {
  height: 100vh;
}

.carousel-caption content {
  padding-top: 150px;
  padding-bottom: 120px;
}

.bg-overlay {
  background-color: #000;
  opacity: 0.7;
  height: 100vh;

}

.carousel-inner::before {
  position: absolute;
  left: 8%;
  top: 22%;
  content: "";
  height: 500px;
  width: 500px;
  background: #000;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background-size: 220% 150%;
  opacity: 0.3;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
  border-radius: 50%;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  z-index: 9999;
}

.carousel-indicators [data-bs-target] {
  width: 50px;
}

.carousel-indicators [data-bs-target].active {
  height: 7px;

}

.carousel-control-prev,
.carousel-control-next {
  opacity: 100%;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 24px;
}

.carousel-caption {
  padding-top: 100px;
}

.carousel-caption h2 {
  font-size: 70px;
  font-weight: 100;

}

.carousel-caption h2 strong {
  font-size: 70px;
  font-weight: 700;
}

.carousel-caption {
  top: 5%;
  z-index: 88888;
  text-align: left;
}

.carousel-caption p {
  font-size: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 88888;
  bottom: 0px !important;
  width: 5%;
  top: 92%;

}

.carousel-indicators {
  z-index: 88888;
  top: 96%;

}

.btn-meet {
  padding: 16px 45px;
  font-size: 17px;
  border: 0px;
  /* background-color: #d0e0df; */

  background-color: #ed237c;
  /* background-image: -webkit-gradient(linear, left top, right top, from(#02218f), color-stop(#0e72e3), to(#02218f)); */
  background-image: linear-gradient(to right, #e41039, #f05171, #e41039);
  background-size: 220% 150%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-top: 30px;
  font-weight: 600;
}

.btn-meet:hover {
  background-color: #eee5de !important;

}

.navbar ul li a {
  color: #000000;
  font-size: 15px;
  font-family: 'Founders Grotesk';
  padding: 0px;
  font-weight: 500;
}

.navbar-brand-left {
  border-left: 1px solid rgb(199, 199, 199);
  padding: 0;
  background-color: #104cba;

}

.navbar .info-right {
  float: right;
  padding: 0px;
  margin: 0px;
}

.info-nav {
  position: relative;
  z-index: 1;
  padding-right: 30px;
}


.download-from {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.download-from-ft {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.download-from-ft a img {
  width: 100% !important;
}

.download-from a img {
  width: 40%;
}

.navbar .info-right .info-nav li .call p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  line-height: 1;
  font-size: 14px;
}

.product-details-one,
.product-details-three {
  padding: 50px 0px 50px;
  /* background-color: #ffecf0; */
  background-color: #f1f1f1;

}

.playing-card-img {
  height: unset !important;
}

.product-details-one {}

.product-details-two {
  padding: 50px 0px 50px;
}

.cards-area img {
  border-radius: 10px;
  background-size: contain;
  object-fit: cover;
}

.icon-01,
.icon-02,
.icon-03 {
  background-color: #4dbeb7;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.icon-02 {
  background-color: #ffc24a !important;
}

.title label {
  color: #e41039;
}

.icon-03 {
  background-color: #f37168 !important;
}


.choose-us {
  padding: 100px 0px 50px;
  background-color: #f1f1f1 !important;
}

.choose-us-area {
  position: relative;
  z-index: 1;
}

.choose-us-description {
  line-height: 1.2;
  font-size: 15px;
  padding: 0px 12px;
  margin-top: 16px;
}

.site-heading {
  margin-bottom: 60px;
}

.site-heading .title {

  font-weight: 700 !important;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 36px;
}

.site-heading .sub-title {
  text-transform: uppercase;
  color: #e41039;
  font-weight: 700;
  background: linear-gradient(to right, #e41039, #e41039, #e41039);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 220% 150%;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 8px
}



.site-heading p {
  padding-top: 50px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}

.cards-title {
  position: relative;
}

/* .cards-title::after {
  position: absolute;
  left: 50%;
  content: "";
  height: 15px;
  width: 36px;
  background: url('/images/pink-header-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 60px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
} */

.sub-title {
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 700;
}



.choose-us-style-two .thumb img {
  border-radius: 5px !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 250px;
  width: 100%;
  background-size: contain;
  object-fit: cover;
}

.choose-us-style-two .thumb .title {
  margin-left: 30px;
  position: absolute;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  bottom: -30px;
  padding: 20.5px 30px;
  border-radius: 8px 0 8px 8px;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-us-card-two:first-child .title {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  bottom: 0;
  visibility: hidden;
  opacity: 1;
}

.choose-us-style-two .thumb .title .top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}


.flaticon-cloud-server:before {
  content: "\f189";
}

.choose-us-style-two .thumb .overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 37px;
  z-index: 1;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.choose-us-style-two .thumb .overlay i {
  display: inline-block;
  font-size: 34px;
  color: #fff;
  margin-bottom: 30px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  background: linear-gradient(to right, #104cba, #00ccff, #104cba);
  border-radius: 50%;
  background-size: 220% 150%;
}

.choose-us-style-two .thumb .overlay::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #091d3e;
  z-index: -1;
  opacity: 0.6;
  border-radius: 5px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.choose-us-style-two .thumb .overlay::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #091d3e;
  z-index: -1;
  opacity: 0.6;
  border-radius: 5px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.choose-us-style-two:hover .thumb .overlay {
  cursor: pointer;
  top: 0;
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.choose-us-style-two.we-offer-cards .thumb .overlay {
  cursor: pointer;
  top: 4px;
  opacity: 1;
  visibility: visible;
  height: 99%;
}

.choose-us-style-two.we-offer-cards a {
  font-size: 24px;
}

.choose-us-style-two.we-offer-cards a:hover {
  color: #fff !important;
}

.overlay h4,
.top h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.overlay p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

.swiper-slide {
  width: 230px;
  margin-right: 30px;
  height: 200px;
  position: relative;
  transition-property: transform;

}

.swiper-slide-blue {
  width: 230px;
  margin-right: 30px;
  height: 200px;
  transition-property: transform;
  display: block;
  align-content: center;
  vertical-align: middle;
  display: block;
  padding: 50px;
  position: relative;
}


.swiper-slide.bg-light-blue {
  background-color: #104cba !important;
}

.swiper-slide a {
  display: block;
  padding: 53px;
  position: relative;
  z-index: 1;
  color: #fff !important;
}

.swiper-slide a {
  color: fff !important;
}

.swiper-slide {
  border-radius: 3px;
  background: linear-gradient(to right, #405a58 50%, rgb(95 60 43) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;

}

.tarot-cards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(95, 60, 43, .5)) fixed, url('../images/cards/10.jpeg') fixed;
  background-size: 100% 100%;
  background-position: right bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  transition: all .5s ease-out;

}

.slider-overlay {
  background-color: rgb(0 0 0 / 4%) !important;
  position: absolute;
  height: 100%;
  width: 100%;
}

.educational-cards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(95, 60, 43, .5)) fixed, url('../images/cards/16.jpeg') fixed;
  background-size: 100% 100%;
  background-position: right bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  transition: all .5s ease-out;

}

.playing-cards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(95, 60, 43, .5)) fixed, url('../images/cards/4.jpeg') fixed;
  background-size: 100% 100%;
  background-position: right bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  transition: all .5s ease-out;

}

.custom-playing-cards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(95, 60, 43, .5)) fixed, url('../images/cards/2.jpeg') fixed;
  background-size: 100% 100%;
  background-position: right bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  transition: all .5s ease-out;

}

.custom-game-cards {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(95, 60, 43, .5)) fixed, url('../images/cards/14.jpeg') fixed;
  background-size: 100% 100%;
  background-position: right bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  transition: all .5s ease-out;

}

.swiper-slide:hover {
  cursor: pointer;
  background-position: left bottom;

}



.swiper-slide:hover {
  cursor: pointer;
}

.slider-content h5 {
  font-size: 18px;
}

.slider-style i {
  font-size: 40px;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  80% {
    transform: translateX(0x);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.icon i {
  display: inline-block;
  font-size: 40px;
  margin-right: 15px;
  position: relative;
  color: #fff;
}

.info p {
  font-size: 14px;
  color: #fff;
}

.info h5 {
  color: #fff;
}

.quotes {
  color: #fff !important;
  text-decoration: none;
  font-size: 21px !important;
  font-family: 'Montserrat', sans-serif;
}

.contact {
  padding: 0px;
  margin-left: 0px;
  top: 0;
  background: #000;
  width: 235px;
  text-align: center;

}

.catalog {
  background: #e41039 !important;
  height: 114px;
  /* background: linear-gradient(to top, #e41039, #eb5472) !important; */
}

.catalog .call .a {
  color: #000 !important;
}

.call-one {
  display: flex;
  justify-content: center;
  padding: 41px 0px;
}

.call {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.call-one .quotes {
  color: #fff !important;
}
.contact:hover {
  cursor: pointer;
  background-color: #000 !important;
 color: #fff !important;
  }
.contact.bg-transparent:hover{
  background-color: transparent !important;
}
.right-nav {
  position: relative;
  z-index: 1;
}

.right-nav ul {
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-brand-left {
  border-left: 1px solid rgb(199, 199, 199);
  padding: 32px 30px;
  background-color: #104cba;

}

.message-icons {}

.message-icons i {
  z-index: 999;
  color: #fff;
  font-size: 24px;
  margin-top: 8px;
}

.bg-cover {
  background-position: center center !important;
  background-size: cover !important;
}


.fa-messages-dollar {
  background-color: red;
}


.faq .subtitle,
.team .subtitle,
.sharda-blogs .subtitle {
  left: 45%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right,
      #e41039, #e41039);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.choose-us img {
  display: flex;
  justify-content: center;
  margin: auto;
}

.faq-header img {
  display: flex;
  margin: 3px 10px 20px;
}

.faq-header {
  display: flex;
  margin: 0px;
}


.counters {
  position: relative;
}

.shape {
  width: 93%;
}

.employee {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 75px;
  width: 85%;
  height: 585px;
}

.preparing {
  padding: 80px 0px 00px;
}

.preparing p {
  font-size: 21px;
}

.counter-effect {
  background-color: #104cba;
  position: absolute;
  z-index: 999;
  top: 255px;
  color: #fff;
  padding: 20px 50px;
  padding-bottom: 17px;
}

.counters video {
  border-radius: 30px;
}

.fa-check {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
}

.Our-experience {
  border-radius: 30px;
  z-index: 4;
  bottom: -60px;
  display: flex;
  /* height: 210px; */
  position: relative;
}

.Our-experience .left-side {
  padding: 35px 72px;
  background: #fff;
  border-radius: 30px 0 0 30px;
  border: 1px solid #e7e7e7;
  width: 290px;
  height: 235px;

}

.Our-experience h5 {
  font-size: 30px;
}

.right-side {
  position: relative;
}

.fa-play {

  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.right-overlay {
  background: rgb(0 0 0);
  opacity: 0.2;
  z-index: 3333;
  position: absolute;
  height: 99%;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
}


.technology-details {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  position: absolute;
  margin-left: 30px;
  width: 93%;
  bottom: 65px;
  border-bottom: 1px solid #e7e7e7;
}

.technology-details a:hover {
  color: #000 !important;
}

.technology-details h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

.technology-details img {
  height: 45px;
  width: 45px;
}

.watch-home {
  top: 50% !important;
}

.watch-demo {
  position: absolute;
  color: #FFF;
  z-index: 3333;
  top: 73%;
  left: 150px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.about-us-watch {
  bottom: -10%;
}

.watch-demo a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}



.we-offer-main {
  /* background-image: url('/images/shape_02.png'); */
  /* background-color: #091D3E; */
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/shape_02.png') top no-repeat;
  background-color: #d0e0df;
  padding: 120px 0px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}

.we-offer-main .choose-us-style-two .content h4 {
  color: #fff !important;
}

.we-offer-main img {
  margin-top: 4px;
}

.we-offer-main h2,
.we-offer-main p {
  color: rgb(0, 0, 0) !important;
}

.we-offer-main h4 {
  /* color: linear-gradient(to right, #1d746e, #d0e0df, #1d746e) !important; */
  color: #000 !important;

}

.Our-experience .right-side img {
  width: 100%;
  width: 100%;
  height: 100%;
  background-size: contain;
  object-fit: cover;
  border-radius: 0px 30px 30px 0px;
}

.right-side video {
  border-radius: 0px 30px 30px 0px;
  /* height: 100%; */
}

.Our-experience .left-side strong {
  font-family: 'Founders Grotesk';
  font-size: 120px !important;
  font-weight: 600;
}

.Our-experience h2 {
  font-size: 70px;
  font-weight: 500;
  font-family: 'Founders Grotesk';

}

.counter-effect::after {
  position: absolute;
  right: 15px;
  bottom: -19px;
  content: "";
  height: 20px;
  width: 20px;
  background: rgb(29, 116, 110);
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.heading {
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 1.2;
  font-size: 36px;
}

.heading.heading-card {
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-item {
  height: 100vh;
  margin-right: 0px !important;

}

.carousel-item img {
  height: 100%;
}

.carousel-item .carousel-caption {
  transform: translateY(20%) !important;
}

.carousel-item .carousel-caption.active {
  transform: translateY(200px) !important;
}

.carousel-item .carousel-caption {
  text-align: left;
}

.choose-us-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.choose-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.choose-us-image:hover img {
  cursor: pointer;
}

.choose-us-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
  transform: translateY(-100%);
  text-align: center;
}

.choose-us-content img {
  height: 60px;
  width: 60px;
}

.choose-us-image:hover .choose-us-content {
  transform: translateY(0);
}

.choose-us-image:hover .technology-details {
  transform: translateY(-150px);
}


.we-offer-content:first-child {
  transition: none;
}

/* .we-offer {
  position: relative;
  overflow: hidden;
} */

.we-offer-card {
  background-color: #104cba;
  position: relative;
  height: 100%;
}

.we-offer-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #041736;
}

.we-offer-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.we-offer-image:hover img {
  cursor: pointer;
}

.we-offer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #104cba;
  transition: transform 0.4s ease;
  transform: translatex(-100%);
  text-align: center;
}

.we-offer-contents {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
  transform: translatex(-100%);
  text-align: center;

}

.offers-contents {
  background-color: #041736;
}

.we-offer-content img {}

.we-offer-image img {
  height: 55px;
  width: 55px !important;

}

.we-offer-image {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.we-offer-image .contents {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px;
}

.we-offer-image:hover .we-offer-content {
  cursor: pointer;
  transform: translateY(0);
}

.we-offer-content:first-child {
  transition: none;
}

.technlogies-bg {
  background-image: url("../images/images/customization\ bg.jpg");
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-top: 120px; */
}

.testimonial-bg::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

}

.bg-technology {
  margin: 0;
  z-index: 100;
  position: relative;
  bottom: -55px;
  display: inline-block;
  font-size: 180px;
  font-weight: 900;
  /* -webkit-text-stroke: 1px var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  line-height: 1; */
  /* background-image: url('/images/technologies-bg-02.jpg'); */
  color: #000;
}

.technology-style .technolgies-items {
  background: #fff;
  padding: 80px;
  padding-bottom: 120px;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.technolgies-items p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

.testimonial-main {
  position: relative;
  padding-top: 1px;
  margin-bottom: 80px;
}

.testimonial {
  background-image: url("../images/testimonial-grey-bg\ \(1\).png");
  background-size: 100% 100% !important;
  padding: 130px 0px 80px 0px;
  /* padding: 10px 0px !important; */
  background-repeat: no-repeat;
  /* background: #E7EDF8; */
  position: relative;
  z-index: 3;
  margin-top: 80px;
}

.testimonial .row {
  padding: 120px 0px;
}

.testimonial-style {
  margin: 15px;
  border-radius: 30px;
  background: linear-gradient(to top, #e41039, #eb5472);
  padding-bottom: 20px;
}

.testimonial-style .quote-icon {
  position: absolute;
  width: 100px;
  right: 40px;
  top: 0px;
  opacity: 0.1;
}

.testimonial-style .quote-icon img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

video {
  width: 100%;

}

.testimonial-style .testimonial-provider {
  display: flex;
  align-items: center;
  padding: 30px;
}

.testimonial-style .testimonial-provider .testimonial-thumb img {
  height: 60px;
  margin-left: 3px;
  padding: 0;
  margin-right: 20px;
  border-radius: 50%;
  min-width: 60px;
  width: 60px;
}

.testimonial-content {
  padding: 0px 30px 30px 30px;
}

.testimonial-content p {
  margin: 0;
  font-size: 23px;
  line-height: 1.5;
  color: #fff;
}

.items {
  background: #fff;
  padding: 80px;
  padding-bottom: 50px;
  padding-top: 80px;
  position: absolute;
  z-index: 1;
}

.technlogies-bg:after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.technology-title {
  position: absolute;
  z-index: 999;
}

.technology-description {
  position: absolute;
  top: 255px;
}

.accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-border-color: none;
}

.accordion-header {
  background-color: transparent !important;
}

.accordion-button {
  padding-left: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-body {
  padding-left: 0px;
}

.accordion-item:first-of-type .accordion-button {
  background-color: transparent;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion-button:not(.collapsed) {
  color: #104cba;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-body p {
  color: #666666;
}

.instant-call {
  background-image: url("../images/images/customization.gif");
  background-size: cover;
  position: relative;
  background-position: center center !important;
  padding: 120px 0px;
  z-index: 1;
  background-repeat: no-repeat;
  /* object-fit: contain; */
}

.left-top {
  background-image: url('../images/pink-shape.png');
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45%;
  background-size: cover;
  z-index: -1;
  background-repeat: no-repeat;
}

.urgent-meesage {
  background: linear-gradient(to right, #02218f, #0e72e3, #02218f);
  padding: 30px;
  padding-top: 40px;
  border-radius: 30px;
  min-width: 220px;
  background-size: 220% 150%;
}

.team {
  padding: 75px 0px 70px 0px;
  background-image: url("../images/team-bg.png");
}

.team-content span {
  font-size: 16px;
  color: #777777 !important;
  font-weight: 400;
  margin-bottom: -8px;
  display: block;
}

.team-style-none {
  margin: 50px 10px;
}

.thumb {
  position: relative;
  z-index: 1;
}

.team-style-none .team-info .team-social {
  z-index: 9;
  list-style: none;
  margin: 0;
  padding: 0;
}


.team-style-none .thumb img {
  border-radius: 0 0 30px 30px !important;
  height: auto !important;
  max-width: 100% !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.team-style-none .team-info .team-social li {
  position: absolute;
  left: 45px;
  z-index: 9;
  width: 60px;
  text-align: center;
  transition: all 0.35s ease-in-out;
  transition-delay: 150ms;
  opacity: 0;

}

.team-style-none:hover .team-social li {
  cursor: pointer !important;
  transform: translateY(-130px);
  opacity: 1;
  transition: all 0.35s ease-in-out;
  transition-delay: 150ms;
}

.team-style-none:hover .team-social li:nth-child(2) {
  -webkit-transform: translateY(-185px);
  transform: translateY(-185px);
  transition: all 0.35s ease-in-out;
  transition-delay: 150ms;
}

.team-style-none:hover .team-social li:nth-child(3) {
  -webkit-transform: translateY(-240px);
  transition-delay: 150ms;
  transform: translateY(-240px);
}

.team-style-none .team-info .team-social li a {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 48px;
  border-radius: 50%;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
}

.team-style-none .team-info .team-social li a.facebook {
  background: #3B5998 !important;
}

.team-style-none .team-info .team-social li a.pinterest {
  background: #BD081C;
}

.team-style-none .team-info .team-social li a.twitter {
  background: #1DA1F2;
}

.title {
  font-weight: 600;
  font-size: 20px;
  /* color: #6c3300; */
  color: #000;
}

.team-info {
  position: relative;
  margin-top: 15px;
}

.team-style-none .thumb .angle-shape {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 30px;
  background-image: url("../images/angle-shape.png");
}


.meeting-style ul li {
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}

.meeting-style ul li a {
  display: block;
  background: linear-gradient(to right, #000000, #3b3b3b, #000000);
  padding: 30px;
  padding-top: 40px;
  border-radius: 30px;
  min-width: 220px;
  background-size: 220% 150%;
}

.meeting-style ul li a:hover {
  color: #fff !important;
}

.meeting-style ul li:last-child a {
  background: #fff;
  color: #232323;
}

.meeting-style ul li:last-child a:hover {
  background: #fff !important;
  color: #232323 !important;
}

.meeting-style li i {
  font-size: 40px;
  margin-bottom: 25px;
}

.sharda-blogs {
  padding: 120px 0px 0px;
}

.blog-thumb img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.blog-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
  text-decoration: none;
}

.blog-title:hover {
  color: #000 !important;

}

.blog-pera {
  line-height: 1.7;
  color: #666666 !important;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
  text-align: left !important;
}

.btn-read-more {
  text-transform: uppercase;
  font-weight: 600;
  color: #666666;
  text-decoration: none;
}

.btn-read-more:hover {
  color: #000 !important;

}

.btn-read-more i {
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: -1px;
  margin-left: 4px;
}

footer {

  /* background: #f4bdc8; */
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* background-image:linear-gradient(to right,#f7e4e6,#f7e4e6 ) ; */

  /* //Grey background */
  /* background-image: linear-gradient(to right,#cecece,#ebebeb ); */
  /* background-image: linear-gradient(to right,#e1e1e1,#e8e7e7 ); */
  background-image: linear-gradient(to right,#fbfbfb,#fdfdfd );
}

footer .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  position: relative;
  z-index: 1;
  background: #e41039;
  color: #fff !important;
}

.footer-main {
  padding-top: 70px;
  padding-bottom: 120px;
}

.footer-main .fa-brands {
  font-size: 16px;
}

.footer-bottom ul li a,
.copyright {
  font-family: 'Montserrat', sans-serif;
  /* color: #000 !important; */
  color: #fff !important;

  font-size: 16px;
}

.copyright a {
  /* color: #000; */
  color: #fff;
}

.footer-main img {
  margin-bottom: 30px;
  background-size: contain;
  object-fit: cover;
}

.footer-main .container .row p,
.useful-links,
.contact-info li {
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  color: #000 !important;
  font-size: 16px;
}

.footer-main .social-icons li a {
  display: flex;
  height: 52px;
  width: 52px;
  line-height: 45px;
  text-align: center;
  background: #000;
  border-radius: 5px;
  color: #fff !important;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footer-main .social-icons li a i {
  color: #fff !important;
  font-size: 20px;
}
.blog-img{
  height: 320px !important;
  background-size: contain;
  object-fit: cover;
}

footer .social-icons li a:hover {
  /* background: rgb(255, 99, 131) !important; */
  color: #000 !important;
}

.solutions,
.contact-info {
  list-style: none;
  padding-left: 0px;
}

.newsletter-blog {
  position: relative;
  padding-left: 50px;
}

.faq {
  background-color: #e9e9e9;
  padding: 50px 0px;
}

.faq-area {
  position: relative;
  z-index: 1;
}

.faq-area .circle-shape:first-child {
  top: -40px;
  right: 120px;
  height: 150px;
  width: 150px;
}

.faq-area .circle-shape {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(-62.5deg, transparent, var(--white));
  opacity: 0.3;
}


.faq-area .circle-shape:nth-child(2) {
  height: 600px;
  width: 600px;
  bottom: -180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.8;
}

.faq-photo {
  height: 100%;
  width: 100%;
  background-size: contain;
  object-fit: cover;
}

footer .newsletter::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 3px;
  background: #e41039;
}

footer .newsletter::after {
  position: absolute;
  left: 0;
  top: -100%;
  content: "";
  height: 500%;
  width: 300%;
  /* background: #f59daf; */
  z-index: -1;
}

footer.bg-dark-blue::after {
  position: absolute;
  left: -65px;
    top: -25px;
  content: "";
  height: 300px;
  width: 300px;
  /* background-color: #f59daf; */
  z-index: -1;
  border-radius: 50%;
  -webkit-filter: blur(80px);
  filter: blur(80px);
}

.newsletter-blog input {
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 15px;
  width: 234px;
}

footer .newsletter button {
  border: none;
  padding: 13px 58px;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 500;
  background: #104cba;
  position: relative;
  z-index: 1;
  color: #fff;
}

.newsletter-main {}

.contain {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.item {
  align-items: center;
  color: white;
  display: flex;
  height: auto;
}

@keyframes shadowPulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(32, 9, 138, 0.4);
    box-shadow: 0 0 0 0 rgba(2, 3, 94, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(21, 219, 150, 0);
    box-shadow: 0 0 0 40px rgba(31, 1, 88, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(21, 219, 150, 0);
    box-shadow: 0 0 0 0 rgba(21, 219, 150, 0);
  }
}

.video-btn {
  position: absolute;
  text-align: center;
  height: 60px;
  width: 60px;
  line-height: 80px;
  top: 50%;
  left: 0%;
  transform: translate(-120%, -52%);
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  background: #eee5de;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  -webkit-animation: shadowPulse 2s linear infinite;
  animation: shadowPulse 2s linear infinite;
  -webkit-box-shadow: 0 0 0 10px rgba(31, 23, 88, 0.7);
  box-shadow: 0 0 0 10px rgba(66, 41, 255, 0.7);
}

.video-btn i {
  color: #000;
}

.counter {
  text-align: center;
}

.counter-count {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  color: #fff;
  text-align: center;
  display: inline-block;

}

.counter-font {
  font-size: 60px;
}

.about-us-header .navbar {
  border-bottom: none;
  background-color: white !important;
  padding: unset !important;
}

.about-us-header .navbar ul li a {
  color: #000 !important;
  font-weight: 500;
}

.about-us-header .logo-blue {
  display: flex;
}

.about-us-header .navbar-brand {
  border-right: none;
}

.about-us {
  background-image: url('../images/about-us-bg-01.jpg');
  /* background-image: linear-gradient(1deg, rgba(12, 63, 19, 0.4) 0%, rgba(255, 255, 255, 0.7) 38%), url(https://shardacustomplayingcards.com/wp-content/uploads/2020/05/62f69b94612909.5e83499062c5b.jpg); */
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  height: 600px !important;
}

.products-bg {
  background-image: url('../images/cover-new-01.jpg');
  /* background-image: linear-gradient(1deg, rgba(12, 63, 19, 0.4) 0%, rgba(255, 255, 255, 0.7) 38%), url(https://shardacustomplayingcards.com/wp-content/uploads/2020/05/62f69b94612909.5e83499062c5b.jpg); */
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 600px !important;
}

.custom-playing-card-bg {
  background-image: url('../images/custom-playing-cards-01.jpg');
  /* background-image: linear-gradient(1deg, rgba(12, 63, 19, 0.4) 0%, rgba(255, 255, 255, 0.7) 38%), url(https://shardacustomplayingcards.com/wp-content/uploads/2020/05/62f69b94612909.5e83499062c5b.jpg); */
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 600px !important;
}

.custom-game-card-bg {
  background-image: url('../images/custom-game-cards-01.jpg');
  /* background-image: linear-gradient(1deg, rgba(12, 63, 19, 0.4) 0%, rgba(255, 255, 255, 0.7) 38%), url(https://shardacustomplayingcards.com/wp-content/uploads/2020/05/62f69b94612909.5e83499062c5b.jpg); */
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 600px !important;
}

.header-overlay {
  background-color: #000;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  height: 600px;
  width: 100%;
  top: 0px;
}

.contact-us-bg {
  background-image: url('../images/contact-us-bg.jpg');
  /* background-image: url('../images/contact-us-cover.jpg'); */
  /* background-image: linear-gradient(1deg, rgba(12, 63, 19, 0.4) 0%, rgba(255, 255, 255, 0.7) 38%), url(https://shardacustomplayingcards.com/wp-content/uploads/2020/05/62f69b94612909.5e83499062c5b.jpg); */
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 600px;
}

.other-service-details a {
  font-weight: 700;
  color: #000;
}

.other-service-details a:hover {
  cursor: pointer;
}

.about-us .row,
.custom-game-card-bg .row,
.custom-playing-card-bg .row,
.products-bg .row {
  margin-top: 160px;
}

.custom-game-card-bg .row,
.custom-playing-card-bg .row {
  position: absolute;
  z-index: 9;
  left: 40%;
}

.breadcrumb-contact-content {
  margin-top: 120px;
}

.breadcrumb-area {
  padding: 150px 0;
  word-break: break-word;
  text-align: center;
}

.breadcrumb-area h1 {
  display: block;
  font-weight: 600;
}

.bg-center-cover {
  background-position: center center !important;
  background-size: cover !important;
}

.breadcrumb {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.breadcrumb-item.active {
  color: #fff;
}

.breadcrumb-item.active:hover {
  cursor: pointer;
}

.about-us:after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.we-are {
  background-image: url('/images/we-are-bg.png');
  background-repeat: no-repeat;
  background-size: 37% auto;
  opacity: 1;
  padding: 120px 0px 90px 0px;
  background-color: #f1f1f1;
}

.about-style .thumb {
  position: relative;
}

.about-style .thumb .shape {
  position: absolute;
}

.about-style .thumb .shape:first-child {
  left: 50%;
  top: 0;
  height: 100%;
  width: 15px;
  background: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about-style .thumb .shape:nth-child(2) {
  right: 0;
  top: 0;
  height: 60px;
  width: 50%;
  background: #fff;
}

.sub-heading {
  text-transform: uppercase;
  color: #e41039;
  font-weight: 700;
  background: linear-gradient(to right, #e41039, #eb5472, #e41039);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 220% 150%;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.solutions h4 {
  color: #fff !important;
  font-size: 20px;
}

.sub-heading::after {
  position: absolute;
  left: -40px;
  content: "";
  height: 10px;
  width: 32px;
  /* background: url('/images/blue-bg.png'); */
  background-size: contain;
  background-repeat: no-repeat;
  top: 8px;
}

.about-us-main {
  padding-left: 65px;
}

.heading {
  font-weight: 600;
  margin-bottom: 25px;
  color: #000;
}

.about-info {
  margin-top: 55px;
}

.about-info p {
  color: #666;
  line-height: 1.7;
  font-size: 'Yantramnav', sans-serif;
}


/* vision-section */
.vision-section {
  /* border: 3px solid red; */
  padding: 50px;
}

.vission-text-portion {
  /* border: 4px outset green; */
  /* display: flex;
  gap: 50px; */
}

.vision-text {
  box-shadow: 0px 0px 5px #000;
  width: 100%;
  padding: 50px;
  border-radius: 30px;
  background-color: #091d3e;
  color: #fff;
}

.vision-text p {
  font-size: 16px;
}

.vision-content-portion {
  /* border: 4px solid blue; */
  padding: 20px;
  display: flex;
  position: relative;
}

.vision-text-area {
  width: 100%;
  text-align: right;

}

.vision-text-area h2,
.mission-text-area h2 {
  transform: translateX(100px);
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  /* color: #00ccff; */
  /* background: linear-gradient(to right, #104cba 0%, #00ccff 60%); */
  background: linear-gradient(to left, #f05171 60%, #e41039 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 150%;
}

.vision-text-area h2 span {
  border-bottom: 5px solid #e41039;
}

.vision-text-area p {
  margin-top: 30px;
}

.vision-img {
  width: 100%;
}

.vision-img img {
  height: 300px;
  width: 450px;
}

.vletter {
  position: absolute;
  transform: translate(28px, -116px);
  right: 0;
}

.vletter span {
  font-size: 400px;
  font-weight: 700;
  color: #e41039;
  opacity: 0.8;
}

.mission-text-area {
  width: 100%;
  text-align: left;

}

.mission-text-area h2 {
  transform: translateX(-125px);
}

.mletter {
  position: absolute;
  transform: translate(-70px, -116px);
  left: 0;
}

.mletter span {
  font-size: 400px;
  font-weight: 700;
  color: #e41039;
  opacity: 0.8;
}

/* clinet-carousel-section */


.clinet-carousel-section #client-logos .item {
  margin: 1px;
  text-align: center;
}

.clinet-carousel-section .cover-wrapper {
  padding: 0px 50px 50px;
}




.clinet-carousel-section .client-inners img {
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.clinet-carousel-section .client-inners {
  text-align: center !important;
  padding: 8px;
  margin: 0 auto;
}

.clinet-carousel-section .client-inners:hover img {
  transition: 1s;
  transform: scale(1.1);
}

.clinet-carousel-section .owl-nav img {
  width: 34px;
}

.clinet-carousel-section .owl-prev img {
  position: absolute;
  left: -38px;
  top: 42%;
  margin-top: -20px;
}

.clinet-carousel-section .owl-next img {
  position: absolute;
  right: -38px;
  top: 42%;
  margin-top: -20px;
}

.blur-bg {
  position: absolute;
  /* right: -100px; */
  top: -50px;
  height: 300px;
  width: 300px;
  background: linear-gradient(to right, #04cfc2, #029289, #04cfc2);
  z-index: 1;
  background-size: 220% 150%;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.1;
  -webkit-filter: blur(80px);
}

.blur-bg-bottom {
  position: absolute;
  right: -10px;
  bottom: -150px;
  height: 300px;
  width: 800px;
  background: linear-gradient(to right, #104cba, #00ccff, #104cba);
  z-index: 1;
  background-size: 220% 150%;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.1;
  -webkit-filter: blur(80px);
}

.short-feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  list-style: none;
  padding-left: 0;
}

.short-feature-list h4 {
  padding-left: 40px;
  position: relative;
  z-index: 1;
}

.feautre-circle {

  font-family: "Font Awesome 5 Pro";
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(to right, #e41039,#f05171, #e41039);
  color: #fff;
  font-size: 13px;
  border-radius: 50%;
  background-size: 200% 150%;
}

.feautre-circle-two {
  position: absolute;
  left: 0;
  content: "";
  font-family: "Font Awesome 5 Pro";
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(to right, #104cba, #00ccff, #104cba);
  color: #fff;
  font-size: 13px;
  border-radius: 50%;
  background-size: 200% 150%;
  margin-left: 110px;
}

.feature-title a {
  display: inline-block;
  font-weight: 600;
  color: #232323;
  font-size: 22px;
}

.about-Our-eexperiece {
  position: relative;
  padding-top: 35px;
  margin-top: 70px;
  padding-bottom: 15px;
  display: block;
}

.experience-left .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.experience-left h2,
.experience-left h3 {
  font-size: 200px;
  line-height: 140px;
  margin: 0;
  font-weight: 900;
  margin-right: 15px;
  text-shadow: -2px 2px 0px #eceefe;
  position: absolute;
  top: -85px;
  margin-bottom: -120px;
  font-family: 'Playfair Display', serif;
  color: transparent;
  -webkit-text-stroke: 4px #666666;
}

.experience-left {
  position: relative;
}

.experience-left h3 {

  left: 40%;

}

.experience-left h4 {
  position: absolute;
  left: 65%;
  bottom: -60px;
  font-weight: 700;
  font-size: 28px;
}

.content-satisfaction {
  background-image: url('../images/bg-satisfaction.jpg');
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  height: 400px;

}

.content-satisfaction::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  /* background: #703202; */
  /* background-color: #e41039; */
  background: linear-gradient(280deg, #000000 12%, #e41039 50%) !important;

  z-index: -1;
  opacity: 0.6;
  border-radius: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0px 50px;
  margin-right: 70px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 160px;
  height: 160px;
  transform: rotate(-90deg);
}

.customer-font h1,
.customer-font h3 {
  font-size: 60px;
}

.achivement .item {
  /* background: linear-gradient(90deg, #461e00 0%, #bc8b65  56%) !important; */
  background: linear-gradient(90deg, #111214 0%, #e41039 56%) !important;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  height: 400px;
}

.achivement .item::before {
  position: absolute;
  right: 0px;
  top: 0px;
  content: "";
  height: 250px;
  width: 100%;
  background: url('../images/bg-white-01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;
  opacity: 0.8;
}
.achivement-one .item {
  /* background: linear-gradient(90deg, #461e00 0%, #bc8b65  56%) !important; */
  background: linear-gradient(280deg, #111214 10%, #e41039 56%) !important;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  height: 400px;
}

.achivement-one .item::before {
  position: absolute;
  right: 0px;
  top: 0px;
  content: "";
  height: 250px;
  width: 100%;
  background: url('../images/bg-white-02.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1;
  opacity: 0.8;
}
.fun-fact .counter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 60px;
  font-weight: 500;
  color: var(--color-heading);
  line-height: 1;
  margin-bottom: 5px;
  margin-top: -5px;
}

.why-we {
  position: relative;
  padding: 90px 0px 120px;
}

.bg-choose-overley {
  background-image: url('../images/choose-us-bg.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 36% auto;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}

.choose-us-items:first-child,
.choose-us-item {
  background: #f9f9f9;
  margin-top: 50px;
  border: 1px solid #e7e7e7;
  padding: 30px 0px;
  border-radius: 30px;
  position: absolute;
  width: 285px;
}

.choose-us-items h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.manage {
  background-color: #eb273c;
  padding: 120px 0px;
}

.white-arrow {
  padding-left: 0px;
}

.solutions {
  padding-left: 110px;
  position: relative;
}

footer .solutions {
  padding-left: 0px;
}

footer a:hover,
.contact a:hover {
  color: #fff !important;
}

.solutions p {
  opacity: 0.8;
}

.solution-arrow {
  position: absolute;
  left: 40px;
  margin-top: 10px;
}

hr {
  color: #fff !important;
  margin: 24px 0px;
}

.manage .watch-demo {
  left: 72%;
  z-index: 1;
}

.circular {
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner,
.circular .outer,
.circular .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .inner {
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .circle {
  z-index: 1;
  box-shadow: none;
}

.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #eb273c;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.circle .bar .progress,
.dot span {
  background: #f5a1aa;
}

.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

.circle .dot {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;
}

.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@keyframes dot {
  0% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(90deg);
    z-index: 4;
  }

  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}

/* 
.solutions h2 {
  margin-left: 20px;
}

.solutions .sub-heading {
  left: 60px;
  padding-left: 10px;
}

.solutions .sub-heading::after {
  left: -35px;
} */
.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
  color: white;
}

.projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}

/* AUTHOR LINK */


footer {
  z-index: 100;
  padding-top: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  opacity: 0;
  font-family: 'Open Sans';
  width: 100%;
  word-wrap: break-word;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  margin: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

footer .authorWindow a {
  color: white;
  text-decoration: none;
}

footer p strong {
  color: rgba(255, 255, 255, 0.9);
}

.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
}


.about-me-img img {}


.authorWindow {
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper {
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}

.trans {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .authorWindow {
    width: 210px;
  }

  .authorWindowWrapper {
    bottom: -170px;
    margin-bottom: 20px;
  }

  footer p {
    font-size: 14px;
  }
}


.social-iconns {
  display: inline-block;
  text-align: center;
  border-radius: 0px;
  position: fixed;
  top: 40%;
  right: 0px !important;
  z-index: 99999;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 9px;
  border-radius: 20px 0 0 20px
}

.social-iconns ul {
  list-style: none;
  padding: 12px 8px 12px 12px;
}

.social-iconns ul li {
  opacity: 0.9;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.social-iconns ul li img {
  width: 40px;
  height: 40px;
}

.social-iconns li a {
  color: #fff;
  display: flex;
  justify-content: center;
}

.social-iconns li a:hover {
  color: #fff !important;

}

.social_media_curve {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../images/white-bg.png') no-repeat;
  background-size: cover;
}

.proucts-items-style {
  width: 50%;
}

/* .proucts-items-style:first-child,
.proucts-items-style:nth-child(3) {
  width: 25%;
}

.proucts-items-style:nth-child(2) {
  width: 50%;
}


.proucts-items-style:nth-child(4),
.proucts-items-style:nth-child(5),
.proucts-items-style:nth-child(6) {
  width: 33.33%;
} */

/* .proucts-items-style:last-child {
  width: 25%;
} */



.proucts-items-style {
  float: left;
  padding: 15px;
  display: inline-block;
  text-align: center;
  vertical-align: top;

}

.products-item {
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.products-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d0e0df;
  -webkit-transition: all 0.5s ease 0s;
  /* transition: all 0.5s ease 0s; */
  opacity: 0;
  z-index: 1;

}

.products-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 170%;
  top: 0;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
  background: linear-gradient(to right, #ffecf0, #e41039, #ffecf0);
  opacity: 0.6;
  z-index: 1;
  background-size: 220% 150%;
}

.products-item.active::after {
  left: -100%;
  top: 0;
}

.products-item.hover::after {
  left: -100%;
  top: 0;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.proucts-items-style .products-item.gallery-mixed-item.active .product-content::after {
  height: 100%;
}

.proucts-items-style .products-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #012b2c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0.3;
  z-index: 1;
}

.proucts-items-style .products-item:hover .product-content::after {
  height: 100%;
}

.proucts-items-style .products-item:hover::after {
  left: -100%;
  top: 0;
  cursor: pointer;
}

.proucts-items-style .products-item:hover .products-thumb img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.35s ease-in-out;
}

.proucts-items-style .products-item:active .products-thumb img {
  transform: scale(1.0);
}

.products-thumb img {
  height: 400px;
  width: 100%;
  background-size: 100%;
  object-fit: cover;
}

.proucts-items-style .products-item .product-content {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 20px;
  padding: 10px 15px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  z-index: 9;
}

.proucts-items-style .products-item .product-content a {
  color: #232323;
  font-size: 20px;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 600;
}

.proucts-items-style .products-item.gallery-mixed-item.active h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.proucts-items-style .products-item .product-content h4 {
  padding-bottom: 3px;
  font-size: 20px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  opacity: 0;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  position: relative;
  display: inline-block;
  z-index: 9;
}

.proucts-items-style .products-item:hover h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.proucts-items-style .products-item .product-content::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.proucts-items-style .products-item .product-content h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  background: #232323;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.proucts-items-style .products-item:hover .product-content h4::after {
  width: 100%;
}

.proucts-items-style .products-item .product-content span {
  display: flex;
  text-transform: uppercase;
  color: #014743;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  opacity: 0;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  position: relative;
  z-index: 9;
  justify-content: center;
}

.proucts-items-style .products-item.active .product-content span {
  opacity: 1;
}

.proucts-items-style .products-item:hover span {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.proucts-items-style .products-item:hover .proucts-items-style .products-item .product-content span {
  opacity: 1;
  transition-delay: 100ms;
  z-index: 9;

}


.roucts-items-style .products-item.gallery-mixed-item.active h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.custom-cards {
  background-color: #f1f1f1;
  padding: 80px 0px 290px 0px;
}

.service-item {
  padding: 30px 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 15px;
}

.service-item::before {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 150px;
  width: 150px;
  background: url('../images/globe.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  opacity: 1;
  /* visibility: hidden; */
}

.service-item.active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.service-item.active {
  background-color: #fff;
}

.service-item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  z-index: -1;
  opacity: 0;
  width: 70%;
  visibility: hidden;
  border-radius: 5px;
}

.service-item:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  width: 100%;

}

.service-item .service-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  margin-top: 30px;
  padding-top: 15px;
}

.service-item p {
  font-size: 18px;
}

.service-bottom h4 a {
  font-size: 20px;
  color: #232323;
}

.custom-card-counters {
  transform: translateY(-250px);
}

.choose-us-custom-cards {
  transform: translateY(-130px);

}

.other-services {
  background-color: #f3f3f3;
  padding: 50px 0px 100px 0px;

}

.tabs {
  width: 100%;
}

.tabs-nav {
  list-style: none;
  padding-left: 0px;

}

.tabs-nav li {
  float: left;
  width: 40%;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

}

.tabs-nav li:last-child a {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: 2px;
}

.tabs-nav a {
  background: #eaeaed;
  color: #0087cc;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}



.tabs-nav a label:last-child {
  padding: 8px;
  border-radius: 50px;
  width: 146px;
  background-color: transparent;
}

.tab-active {}

.tab-active:last-child {
  color: #fff;
}

.tab-active a {
  background: #014743;
  border-bottom-color: transparent;
  color: #eaeaed;
  cursor: default;
}

.tab-active a label {
  background: #014743;
  border-bottom-color: transparent;
  color: #eaeaed;
  cursor: default;
}

.tabs-stage {
  border-radius: 25px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
  display: none;
}

.other-service-details {
  border: 2px solid #e7e7e7;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 50px;
}

.pricing-style-one .item .pricing-header h2 sub {
  font-size: 20px;
  font-weight: 400;
  margin-left: -15px;
}

.other-service-details h2 {
  font-size: 50px;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

.other-service-details h2 sub,
.other-service-details h2 sup {
  font-size: 20px;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 400;
}

.other-service-details h2 sup {
  font-size: 30px;
  top: -16px;
}

.other-service-details p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 300;
  font-family: 'Founders Grotesk';
  font-size: 20px;
  text-align: justify;
}

.contact-us {
  padding: 120px 0px;
}

.contact-details {
  /* background: linear-gradient(90deg,#00102d 0%,#0059fc 56%) fixed, url(../images/contac-us-bg.png); */
  background: linear-gradient(90deg, rgba(241, 61, 91, 0.8), rgba(197, 2, 2, 0.8)) fixed, url('/images/contac-us-bg.png');
  /* background: linear-gradient(90deg, #00102d, #0059fc ) fixed ,url(../images/contac-us-bg.png) !important; */
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;

}

.contact-us-item {
  padding: 50px 37px;
}

.contact-us-item i {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #029289;
  margin-bottom: 36px;
}

.contact-us-item h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

.contact-us-item p {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Heebo', sans-serif;

}

.contact-details .contact-us-item-two {
  background-color: rgba(0, 0, 0, 0.1) !important;
  font-family: 'Heebo', sans-serif;

}

.contact-details a {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
}

.contact-right-side {
  background-image: url('../images/contact-blue-bg.png');
  position: absolute;
  right: 0px;
  top: 0px;
  height: 500px;
  width: 515px;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: right top;
}

.map-details .row .map-frame {
  left: 0px;
  position: absolute;
}

.map-form {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  max-width: 630px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px 0px rgba(44, 130, 237, 0.4);
  padding: 80px;
}

.map-form form input {
  min-height: 55px;
}

.map .container {
  padding: 80px 0px 680px 0px !important;
}

.btn-in-touch {
  padding: 15px 45px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  border: none;
  color: #fff;
  background-color: #ed237c;
  background-image: linear-gradient(to right, #e41039, #f05171, #e41039);
  background-size: 220% 150%;
}

.map-two {
  padding: 120px 0px;
  min-height: 1060px;
}

.maps {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
}

.map-two form {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  max-width: 630px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px 0px rgba(44, 130, 237, 0.4);
  padding: 80px;
}

.map-two h2 {
  font-weight: 600;
  font-size: 36px;
}

.map-two input {
  min-height: 55px;
}

.maps iframe {}

.map-two textarea {
  padding: 5px 20px;
  min-height: 252px;
}

.service-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  /* -webkit-line-clamp: 6; */
  height: 240px;
  -webkit-box-orient: vertical;
}

.service-item.service-items-game p {
  height: 185px;

}

.product-header {
  background-image: url('../images/products-bg.jpg');
  background-position: center center;
  object-fit: cover;
  margin-top: 114px;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;

}

.product-info {
  padding: 50px 0px;
}

.product-info h4 {
  text-transform: uppercase;
}

.product-info h2 {
  font-size: 60px !important;
  font-weight: 300;
  color: #fff !important;
  margin-bottom: 24px;
}

.product-info p {
  color: #fff !important;

}

.product-banner {}

.products-img {
  padding: 50px;
  position: relative;
  z-index: 1;
}

.products-img img {
  border-radius: 50%;

}

.social-icons {
  margin-top: 100px;
}

.products-img::after {
  position: absolute;
  right: 25px;
  bottom: 30px;
  content: "";
  height: 90%;
  width: 90%;
  background: #e41039 !important;
  z-index: -1;
  border-radius: 50%;
  opacity: 1.0;
}

.products-img.products-img-one::after {
  position: absolute;
  right: 25px;
  bottom: 30px;
  content: "";
  height: 90%;
  width: 90%;
  background: transparent !important;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
}

.Our-services p {
  text-align: left;
}

.service-title {
  display: flex;
  justify-content: center;
}

.Our-services {
  padding: 50px 0px;
}

.service-heading {
  text-transform: uppercase;
  color: #1d746e;
  font-weight: 700;
  background: linear-gradient(to right, #1d746e, #1d746e, #1d746e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 220% 150%;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 20px;
  margin-left: 40px;
}

.services-styles {
  padding: 60px 37px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 500px;
}


.product-card .services-styles .product-thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.product-card:first-child .services-styles .product-thumb {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.product-card:hover .product-thumb {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.services-styles .services-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.services-styles .product-thumb::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #091d3e;
  z-index: -1;
  opacity: 0.6;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.services-styles .services-bottom span {
  font-size: 40px;
  font-weight: 900;
  opacity: 0.2;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.services-styles .services-bottom a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 42px;
  background: #104cba;
  color: #ffffff !important;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
  left: -30px;
  opacity: 0;
  visibility: hidden;
}

.product-card:first-child .services-styles .services-bottom a {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.product-card p {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  height: 220px;
  margin-top: 20px;
}

.bg-services-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: right bottom;
  opacity: 0.5;
  background-image: url('../images/white-shape-02.png');
}

.product-card .services-styles:hover a {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.35s ease-in-out;
}

.services-styles .bottom span {
  font-size: 40px;
  font-weight: 900;
  opacity: 0.2;
}

.product-card:first-child .services-styles span,
.product-card:hover .services-styles span {
  color: #ffffff;
  opacity: 0.4;
}

.product-card:hover .services-styles p,
.product-card:hover .services-styles h4 {
  cursor: pointer;
  color: #fff !important;
}

.about-our-value .fa-check {
  font-size: 13px;
  padding: 8px;
}

.about-our-value .feautre-circle {
  width: 28px;
  height: 28px;

}

.about-our-value .products-img::after {
  animation: morphing 10s infinite;
}

.about-our-value p {
  font-size: 14px;
  line-height: 1.7;
}



@keyframes morphing {
  0% {
    border-radius: 70% 70% 30% 20% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2)
  }

  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

.blog-area {
  padding: 120px 0px;
}

.date-info {
  padding: 24px 0px;
}

.date-info h6 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.right-bar {
  padding-left: 35px;
}

.recent-post,
.blog-categories {
  padding: 40px;
  background-color: #f4f5f8;
}

.recent-post h4 {
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -5px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  font-size: 22px;
  display: inline-block;
  padding-bottom: 15px;
}

.recent-post h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 50px;
  border-bottom: 2px solid #000;
}

.date-title {
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  margin-bottom: 4px;
}

.blog-categories-list {
  padding-left: 0px;
}

.blog-categories-list li {
  display: block;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid #dbdfe4;
  margin: 3px 0;
  text-align: left !important;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
.recent-post-img{
  height: 80px;
  width: 80px;
}