@font-face {
    font-family: 'Founders Grotesk';
    src: url('FoundersGrotesk-Medium.woff2') format('woff2'),
        url('FoundersGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

