@font-face {
    font-family: 'Founders Grotesk';
    src: url('FoundersGrotesk-Light.woff2') format('woff2'),
        url('FoundersGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

